

.mainBox {
	padding: 30px;
	background: #F4FFD9;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	-webkit-box-shadow: rgba(255,255,255,0.6) 1px 1px 1px inset, rgba(0, 0, 0, 0.8) -1px -1px 1px inset, rgba(0, 0, 0, 0.3) 0 0 10px;
	-moz-box-shadow: rgba(255,255,255,0.6) 1px 1px 1px inset, rgba(0, 0, 0, 0.8) -1px -1px 1px inset, rgba(0, 0, 0, 0.3) 0 0 10px;
	box-shadow: rgba(255,255,255,0.6) 1px 1px 1px inset, rgba(0, 0, 0, 0.8) -1px -1px 1px inset, rgba(0, 0, 0, 0.3) 0 0 10px;
}


.mainBox2 {
	padding: 30px;
	background: #424252;
	
	color: #fff;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
		
	-webkit-box-shadow: rgba(255,255,255,0.6) 1px 1px 1px inset, rgba(0, 0, 0, 0.8) -1px -1px 1px inset, rgba(0, 0, 0, 0.3) 0 0 10px;
	-moz-box-shadow: rgba(255,255,255,0.6) 1px 1px 1px inset, rgba(0, 0, 0, 0.8) -1px -1px 1px inset, rgba(0, 0, 0, 0.3) 0 0 10px;
	box-shadow: rgba(255,255,255,0.6) 1px 1px 1px inset, rgba(0, 0, 0, 0.8) -1px -1px 1px inset, rgba(0, 0, 0, 0.3) 0 0 10px;
	
	
	// Typography
	
	
	@heading1Color: #44bac1;
	
	
	
	p {
		font-size: 1em;
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-family: Stoke, Cantarell, Helvetica, Arial, sans-serif;
		color: @heading1Color;
	}
	
	
}


// Remove margins from last block
.mainBox > *:last-child,
.mainBox2 > *:last-child {
	margin-bottom: 0;
}
