/* 	Image Styling
  	==========================================================================
	A collection of effects rendered on top of images.
	========================================================================== */
/* 	Variables (Edit Away!)
	========================================================================= */
/* 	Basic Styles
	========================================================================= */
.image-effect {
  position: relative;
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;
}
/* image-wrap:after pseudo element (overlaying container) */
.image-effect:after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: -1px;
}
.image-effect img {
  vertical-align: bottom;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
/*	Individual Styles
	========================================================================= */
/* Card */
/* embossed */
.embossed.image-wrap:after {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -6px 0 rgba(0, 0, 0, 0.6), inset 0 -7px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -6px 0 rgba(0, 0, 0, 0.6), inset 0 -7px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -6px 0 rgba(0, 0, 0, 0.6), inset 0 -7px 0 rgba(255, 255, 255, 0.3);
}
/* soft embossed */
.soft-embossed.image-wrap:after {
  -webkit-box-shadow: inset 0 0 3px #000000, inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -6px 2px rgba(0, 0, 0, 0.6), inset 0 -8px 2px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 3px #000000, inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -6px 2px rgba(0, 0, 0, 0.6), inset 0 -8px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 3px #000000, inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -6px 2px rgba(0, 0, 0, 0.6), inset 0 -8px 2px rgba(255, 255, 255, 0.3);
}
/* cutout or pressed */
.cutout.image-wrap:after {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 4px 5px rgba(0, 0, 0, 0.6), inset 0 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 4px 5px rgba(0, 0, 0, 0.6), inset 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 4px 5px rgba(0, 0, 0, 0.6), inset 0 1px 2px rgba(0, 0, 0, 0.6);
}
/* glossy */
.glossy.image-wrap:before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.15) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0.15)));
  background: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.15) 100%);
}
