
/*	******** page.less ********
	Layouts for the header, footer and different Page Types
	************************************************************************* */
	
	
	
	/*  ====== Basic Styling ======
	Third-party frameworks upon which the theme is based
	========================================================================= */

.areaMain,
.areaSidebar,
.areaTop {	
	
	/*  -- Typography --
	------------------------------------------------------------------------- */
	
	p {
		font-size: 1em;
	}
	
	h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	  small {
	  	text-transform: capitalize;
	  }
	}
	
	h1 {
	  font-size: 38px;
	  small {
	    font-size: 28px;
	  }
	}
	
	h2 {
	  font-size: 30px;
	  small {
	    font-size: 24px;
	  }
	}
	
	h3 {
	  font-size: 24px;
	  small {
	    font-size: 20px;
	  }
	}
	
	h4 {
	  font-size: 18px;
	  small {
	    font-size: 14px;
	  }
	}
	
	h5 {
	  font-size: 16px;
	}
	
	h6 {
	  font-size: 16px;
	}
		
	
	
}


.areaSidebar,
.areaTop {
	padding: 20px;
	background: #84A6C4;
	
	color: #fff;
	
	text-shadow: rgba(0,0,0,.4) 1px 1px 1px;
	
	.border-radius(10px);
	
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
		font-weight: 400;
	}
	
	a {
		color: #fff;
		font-weight: bold;
		text-decoration: underline;
	}
	
	a:hover {
		color: darken(#fff, 15%);
	}
}

.areaTop {
	margin-bottom: 20px;
}


// Remove margins from last block
.areaMain > *:last-child,
.areaSidebar > *:last-child,
.areaTop > *:last-child {
	margin-bottom: 0;
}
