/* iefixes.css
   ==========================================================================
   Layout and Visual Fixes for all version of IE
   The following classes target different versions: .oldie .ie6 .ie7 .ie8
   ========================================================================== */
/*  Custom IE Layout & Style Fixes
	========================================================================= */
/* Remove background images */
.oldie {
  background: none;
}
/* Fix Navigation */
.oldie .site-navigation .navitem a {
  display: inline;
  border-bottom: 1px #D2D3D5 solid;
  cursor: pointer;
  background: none;
}
.oldie .site-navigation .navitem a:hover {
  border-bottom: none;
}
.oldie .navItem-icon,
.oldie .navItem-text {
  background: none !important;
}
.oldie .navItem-icon img {
  display: none;
}
/*  Custom IE Layout & Style Fixes
	========================================================================= */
/*  Enable Automatic Float Clearing
	--------------------------------------------------- */
.oldie .clr {
  zoom: 1;
}
/*  1140 gs Sizing Fixes
	--------------------------------------------------- */
.oldie .onecol {
  width: 4.7%;
}
.oldie .twocol {
  width: 13.2%;
}
.oldie .threecol {
  width: 22.05%;
}
.oldie .fourcol {
  width: 30.6%;
}
.oldie .fivecol {
  width: 39%;
}
.oldie .sixcol {
  width: 48%;
}
.oldie .sevencol {
  width: 56.75%;
}
.oldie .eightcol {
  width: 61.6%;
}
.oldie .ninecol {
  width: 74.05%;
}
.oldie .tencol {
  width: 82%;
}
.oldie .elevencol {
  width: 91.35%;
}
/*  IE6 Graceful Degredation
	========================================================================= */
