/*	******** page.less ********
	Layouts for the header, footer and different Page Types
	************************************************************************* */
/*  ====== Basics ======
	Basic formatting for every page
	========================================================================= */
body {
  background-color: #FFE9CF;
  background-image: url(../img/bg_bodyTop.svg), url(../img/bg_bodyBorder.svg), url(../img/bg_body.jpg);
  background-position: left top, left top, left top;
  background-repeat: repeat-x, repeat-y, repeat;
  background-size: auto, 100% auto, auto;
}
.pageWrapper {
  padding-top: 20px;
  margin-bottom: 20px;
}
.mainContent {
  padding: 50px;
  background: url(../img/bg_main.jpg) top left repeat;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.6) 2px 2px 1px inset, rgba(0, 0, 0, 0.3) -2px -2px 1px inset, rgba(0, 0, 0, 0.3) 0 0 10px;
  -moz-box-shadow: rgba(255, 255, 255, 0.6) 2px 2px 1px inset, rgba(0, 0, 0, 0.3) -2px -2px 1px inset, rgba(0, 0, 0, 0.3) 0 0 10px;
  box-shadow: rgba(255, 255, 255, 0.6) 2px 2px 1px inset, rgba(0, 0, 0, 0.3) -2px -2px 1px inset, rgba(0, 0, 0, 0.3) 0 0 10px;
}
/*  ====== Elements ======
	Various elements of a basic page. Global to most pages.
	========================================================================= */
/*  ---- Header ----
	The top section of the document. Contains main navigation.
	--------------------------------------------------------------------------*/
.pageHeader {
  margin-bottom: 20px;
}
.siteLogo {
  text-align: center;
}
/*  ---- Footer ----
	The bottom section of the page.
	--------------------------------------------------------------------------*/
.pageFooter {
  margin-top: 20px;
}
